.site_footer {
	background: #112D4E;
	padding-top: 5rem;
	padding-bottom: 5rem;
}

.footer_menu {
	margin: 0;
	padding: 0;
}

.footer_menu_item {
	display: block;
	width: 50%;
}

.footer_menu_link {
	color: #6c757d;
	font-weight: var(--font-weight-light);
	display: inline-block;
	vertical-align: top;
	margin-top: 4px;
	margin-bottom: 4px;
}

.site_footer .social_icon_link {
	margin-top: 4px;
}

.site_footer .social_icon_link:hover,
.footer_menu_link:hover {
	color: var(--white-color);
}

.copyright_text {
	font-size: var(--copyright-text-font-size);
}

/*---------------------------------------
  SOCIAL ICON               
-----------------------------------------*/
.social_icon {
	margin: 0;
	padding: 0;
}

.social_icon li {
	list-style: none;
	display: inline-block;
	vertical-align: top;
}

.social_icon_link {
	color: #6c757d;
	font-size: 1rem;
	display: inline-block;
	vertical-align: top;
	margin-bottom: 4px;
	margin-right: 15px;
}

.social_icon_link:hover {
	color: var(--primary-color);
}


