@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700&display=swap');
:root {
  font-family: 'Poppins', system-ui, Avenir, Helvetica, Arial, sans-serif;
}

.custom-btn{
  background-color:black;
	border-radius: 50px;
  color: white;
	font-size: var(--copyright-text-font-size);
	text-transform: uppercase;
	padding: 16.5px 20px;
  border: black solid;
}

a,
button {
	touch-action: manipulation;
	transition: all 0.3s;
  text-decoration: none !important;
}
@media only screen and (max-width: 576px) {
	.custom-btn{
		font-size: 10px;
		padding: 5px 10px;
	}
}
@media only screen and (max-width: 992px) {
.el_h1{
	font-size: 38px !important;
}
}

.contacts_h6{
	font-weight: 700;
}

.active{
	color:coral !important;
	text-decoration: underline !important;
	color: #0d6efd!important;
}

a,p,h1,h2,h3,h4,h5,h6,li,a{
	font-family: 'Poppins', system-ui, Avenir, Helvetica, Arial, sans-serif;
}
nav li{
	font-size: 15px;
	transition: all 500ms;
}
