@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;500;600;700&display=swap');
:root {
  font-family: 'Poppins', system-ui, Avenir, Helvetica, Arial, sans-serif;
}

.custom-btn{
  background-color:black;
	border-radius: 50px;
  color: white;
	font-size: var(--copyright-text-font-size);
	text-transform: uppercase;
	padding: 16.5px 20px;
  border: black solid;
}

a,
button {
	touch-action: manipulation;
	transition: all 0.3s;
  text-decoration: none !important;
}
@media only screen and (max-width: 576px) {
	.custom-btn{
		font-size: 10px;
		padding: 5px 10px;
	}
}
@media only screen and (max-width: 992px) {
.el_h1{
	font-size: 38px !important;
}
}

.contacts_h6{
	font-weight: 700;
}

.active{
	color: #ffffff !important;
	background-color: #112d4e !important;
	border-radius: 5% !important;
}

a,p,h1,h2,h3,h4,h5,h6,li,a{
	font-family: 'Poppins', system-ui, Avenir, Helvetica, Arial, sans-serif;
}


nav li{
	font-size: 15px;
	transition: all 500ms;
}


/* NAVBAR ANIMATION */
  
  /* NAVIGATION */
  nav {
	width: 80%;
	margin: 0 auto;
	background: #fff;
	padding: 50px 0;
  }
  nav ul {
	list-style: none;
	text-align: center;
  }
  nav ul li {
	display: inline-block;
  }
  nav ul li a {
	display: block;
	padding: 15px;
	text-decoration: none;
	color: #00d0ff;
	font-weight: 800;
	text-transform: uppercase;
	margin: 0 10px;
  }
  nav ul li a,
  nav ul li a:after,
  nav ul li a:before {
	transition: all .5s;
  }
  nav ul li a:hover {
	color: #ffffff !important;
  }
  
  
  /* stroke */
  nav.stroke ul li a,
  nav.fill ul li a {
	position: relative;
  }
  nav.stroke ul li a:after,
  nav.fill ul li a:after {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	width: 0%;
	content: '.';
	color: transparent;
	background: #fff1f1;
	height: 1px;
  }
  nav.stroke ul li a:hover:after {
	width: 100%;
  }
  
  nav.fill ul li a {
	transition: all 1s;
  }
  
  nav.fill ul li a:after {
	text-align: left;
	content: '.';
	margin: 0;
	opacity: 0;
  }
  nav.fill ul li a:hover {
	color: #fff;
	z-index: 1;
  }
  nav.fill ul li a:hover:after {
	z-index: -10;
	animation: fill 1s forwards;
	-webkit-animation: fill 1s forwards;
	-moz-animation: fill 1s forwards;
	opacity: 1;
  }
  
  
  
  /* Keyframes */
  @keyframes fill {
	0% {
	  width: 0%;
	  height: 1px;
	}
	50% {
	  width: 100%;
	  height: 1px;
	}
	100% {
	  width: 100%;
	  height: 100%;
	  background-color: #112d4e;
	  border-radius: 4%;
	}
  }
  

